*.iml
.gradle
build/
.idea
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
*.keystore
*.jks
*.pem
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
*.log
*.hprof
*.tgz
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.aar
*.war
